services:
  php:
    build:
      context: .
      dockerfile: docker/php.Dockerfile
    container_name: neoarchlinux.org_php
    env_file:
      - .env
    volumes:
      - ./public:/var/www/html/public:ro
      - ./routes:/var/www/html/routes:ro
      - ./src:/var/www/src:ro
    restart: unless-stopped
    networks:
      - neoarchlinux.org

  nginx:
    image: nginx:stable-alpine
    container_name: neoarchlinux.org_nginx
    depends_on:
      - php
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./public:/var/www/html/public:ro
      - ./routes:/var/www/html/routes:ro
      - ./src:/var/www/src:ro
      - ./nginx/log:/var/log/nginx:rw
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - ./build:/tmp/iso-out
    restart: unless-stopped
    networks:
      - neoarchlinux.org

  postgres:
    image: postgres:18-alpine
    container_name: neoarchlinux.org_postgres
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - neoarch_pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - neoarchlinux.org

  package-updater:
    build:
      context: .
      dockerfile: docker/package-updater.Dockerfile
    container_name: neoarchlinux.org_package_updater
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./logs/package-updater:/var/log/package-updater
    restart: unless-stopped
    networks:
      - neoarchlinux.org

  iso-builder:
    build:
      context: .
      dockerfile: docker/iso-builder.Dockerfile
    container_name: neoarchlinux.org_iso_builder
    volumes:
      - ./build:/tmp/iso-out
    restart: unless-stopped
    networks:
      - neoarchlinux.org
    privileged: true

volumes:
  neoarch_pgdata:    

networks:
  neoarchlinux.org:
    external: true